<main>
    <table class="table text-white">
        <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">Completed</th>
                <th scope="col">Description</th>

                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tasksAll">
                <td class="col-1 pr-2 text-center" *ngIf="t.completed === 0"><input type="checkbox" name="check"
                        (click)="update(t)"></td>
                <td class="col-1 pr-2 text-center" *ngIf="t.completed != 0"><input type="checkbox" name="check"
                        (click)="update(t)" checked></td>
                <td class="text-center">{{t.description}}</td>
                <td class="text-center col-3">
                    <button type="button" class="btn bnt-xs btn-warning">Edit</button> |
                    <button type="button" class="btn bnt-xs btn-danger" (click)="delTask(t)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>
    <div class="col-md-6 col-sm-12 divForm">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="addTask" placeholder="Add Task" required>
                <button type="button" (click)="onSubmit()" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</main>